{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
    {{ wtf.quick_form(form) }}

    <table class="table">
        <tr>
            <th>{{ form.container.label }}</th>
            <th>{{ form.flight.label }}</th>
            <th>{{ form.consignee.label }}</th>
        </tr>
        <br>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.container.product_description }}</td>
                <td>{{ invoice.flight }}</td>
                <td>{{ invoice.consignee.name }}</td>
                <td>
                    <a href="/update_invoice/{{ invoice.id }}" class="btn btn-xs btn-default" id="mark_done">
                        {{ icon('edit') }} Редагувати
                    </a>
                </td>
                <td>
                    <a href="/delete_invoice/{{ invoice.id }}" class="btn btn-xs btn-default" id="mark_done">
                        {{ icon('remove') }} Видалити
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}