{% extends "bootstrap/base.html" %}
{% from 'macros.html' import icon %}

{% block title %}NoSql{% endblock %}


{% block head %}
    {{super()}}
    {#    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />#}
    <link rel="stylesheet" href="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../static/bower_components/moment/locale/ru.js"></script>
    <script type="text/javascript" src="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1, #datetimepicker2').datetimepicker({
                locale: 'ru'
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li {% if request.path == '/add_port/' %} class="active" {% endif %}>
                    <a href="/add_port">add port
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li {% if request.path == '/add_ship/' %} class="active" {% endif %}>
                    <a href="/add_ship">add ship
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li {% if request.path == '/add_container/' %} class="active" {% endif %}>
                    <a href="/add_container">add container
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li {% if request.path == '/add_consignee/' %} class="active" {% endif %}>
                    <a href="/add_consignee">add consignee
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li {% if request.path == '/add_flight' %} class="active" {% endif %}>
                    <a href="/add_flight">add flight
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li {% if request.path == '/add_invoice' %} class="active" {% endif %}>
                    <a href="/add_invoice">add invoice
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}



