{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <hr>
    <h3>Update flight</h3>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.number) }}
        {{ wtf.form_field(form.ship) }}
        {{ wtf.form_field(form.port_departure) }}
        {{ wtf.form_field(form.port_arrival) }}

        <div class="form-group">
            <label class="col-lg-2 control-label">{{ form.departure_date.label }}</label>
            <div class='input-group date' id='datetimepicker1'>
                {{ form.departure_date(class_='form-control' )|safe }}
                <ul>
                    {% for error in form.departure_date.errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">{{ form.arrival_date.label }}</label>
            <div class='input-group date' id='datetimepicker2'>
                {{ form.arrival_date(class_='form-control')|safe }}
                <ul>
                    {% for error in form.arrival_date.errors %}
                        <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                </ul>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}

